<!DOCTYPE html>
<html lang="en">
<head>
  <title>GIG-GAME</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">GIG-(CO)</a>
    <li class="nav-item">
      <a class="navbar-brand" href="/input">INPUT FILM</a>
      <a class="navbar-brand" href="/game/input">INPUT GAME</a>
    </li>
  </nav><br>
  <div class="container">

   
      <br>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>No</th>
            <th>Judul Game</th>
            <th>Actions</th>
        </tr>
      </thead>
        {% for d in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.judul}}</td>
            <td>   
              <a type="button" class="btn btn-success" href="/game/{{d.id}}" >Detail</a>
              <a type="button" class="btn btn-warning" href="/game/{{d.id}}/update">Edit</a>
              <a type="button" class="btn btn-danger" href="/game/{{d.id}}/delete">Hapus</a>
            </td>
        </tr>
        {% endfor %}

      </table>
 
  </div>


</body>
</html>