<!DOCTYPE html>
<html lang="en">
<head>
  <title>GIG-(CO)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">GIG-(CO)</a>
    <li class="nav-item">
      <a class="navbar-brand" href="/input">INPUT FILM</a>
      <a class="navbar-brand" href="game/input">INPUT GAME</a>
    </li>
  </nav><br>
  <div class="container">
    <h2 align="center">MENU</h2>
           
    <table class="table table-borderless">

      </thead>
      <tbody>
        <tr align="center">
          <td><div class="card" style="width:200px">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71EsANpfHVL._AC_SY879_.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">DAFTAR FILM</h4>
              <p class="card-text">Film original kualitas bluray</p>
              <a href="/daftarfilm" class="btn btn-primary stretched-link">See List</a>
            </div>
          </td>
          <td><div class="card" style="width:240px">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMjY4MTNlNzItNmViNC00MDBiLTgwNzQtODI5OTZlOTQwM2QzXkEyXkFqcGdeQXVyMzY0MTE3NzU@._V1_.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">DAFTAR GAME</h4>
              <p class="card-text">Game original</p>
              <a href="game/daftargame" class="btn btn-primary stretched-link">See List</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</body>
</html>